mixin headerSection(tag, name = "", add_to_toc=true)
    mixin fetchTitleTag(tag)
        if tag === "part"
            h2(id=attributes.id, is-part)= name
        if tag === "topic"
            h2(id=attributes.id)= name
        if tag === "section"
            h3(id=attributes.id)= name
        if tag === "sub-section"
            h4(id=attributes.id)= name

    if add_to_toc
        - toc.push(name)
        +fetchTitleTag(tag)(id=`${name.toLowerCase().replace(' ', '-')}`)
    else
        +fetchTitleTag(tag)